<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            <form action="/dieticianList">
                <button class="btn btn-primary btn-block">
                   Registrar dietista
                </button>
            </form>
        </div>
    </div>