<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tfg">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFG">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TFG.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login">

        </activity>
        <activity android:name=".Register">

        </activity>
        <activity android:name=".FirstLogin">

        </activity>
        <activity android:name=".ProfileMenu">

        </activity>
        <activity android:name=".UpdateWeight">

        </activity>
        <activity android:name=".UpdateUser">

        </activity>
        <activity android:name=".ChooseDietist">

        </activity>
        <activity android:name=".MyPics">

        </activity>
        <activity android:name=".UploadPhoto">

        </activity>
        <activity android:name=".AlarmSet">

        </activity>
        <activity android:name=".DietFollow">

        </activity>
        <activity android:name=".FollowList">

        </activity>
        <activity android:name=".PopUpFollow">

        </activity>
        <activity android:name=".DietMenu">

        </activity>
        <activity android:name=".MyDietician">

        </activity>
        <activity android:name=".ResetPassword">

        </activity>
    </application>

</manifest>