/* Color Palette 

$softPink: #F9D8D4;
$yellow: #F9A734;
$DarkYellow: #FB8B24;
$green: #36964C;
$DarkGreen: #286E38;
*/

/* Background styles */

body { 
	background:
	/* Pineapple details */
	radial-gradient(circle closest-side at 50px 50px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 40px 60px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 60px 60px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 50px 70px, #FB8B24 3px, transparent 0),
	
	radial-gradient(circle closest-side at 150px 165px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 140px 175px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 160px 175px, #FB8B24 3px, transparent 0),
	radial-gradient(circle closest-side at 150px 185px, #FB8B24 3px, transparent 0),
	
	/* Pineapple base */
	radial-gradient(ellipse closest-side at 50px 60px, #F9A734 18px, transparent 0),
	
	radial-gradient(ellipse closest-side at 150px 175px, #F9A734 18px, transparent 0),
	
	/* Pineapple leafs */
	radial-gradient(circle closest-side at 30px 40px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle closest-side at 40px 35px, #36964C 15px, transparent 0),
	radial-gradient(circle closest-side at 70px 40px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle closest-side at 60px 35px, #286E38 15px, transparent 0),
	
	radial-gradient(circle closest-side at 130px 155px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle closest-side at 140px 150px, #36964C 15px, transparent 0),
	radial-gradient(circle at 170px 155px, #F9D8D4 15px, transparent 0),
	radial-gradient(circle at 160px 150px, #286E38 15px, transparent 0)
	;
	background-color: #F9D8D4;
	background-size: 180px 210px;
	/* animation: animatedBackground .5s cubic-bezier(.61,-0.64,.58,1.46) forwards; */
}
list-dieticians{
	position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 2px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);

}
/*STARS worthStars*/
.worthStars {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.worthStars:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.worthStars:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.worthStars:not(:checked) > label:before {
    content: '★ ';
}
.worthStars > input:checked ~ label {
    color: #ffc700;    
}
.worthStars:not(:checked) > label:hover,
.worthStars:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.worthStars > input:checked + label:hover,
.worthStars > input:checked + label:hover ~ label,
.worthStars > input:checked ~ label:hover,
.worthStars > input:checked ~ label:hover ~ label,
.worthStars > label:hover ~ input:checked ~ label {
    color: #c59b08;
}


select {
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
  }

  .myButtonVerde {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:0.75rem;
	font-weight: bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButtonVerde:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.myButtonVerde:active {
	position:relative;
	top:1px;
}


.myButtonAmarillo {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:0.75rem;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButtonAmarillo:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButtonAmarillo:active {
	position:relative;
	top:1px;
}

.myButtonRojo {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:0.75rem;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButtonRojo:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.myButtonRojo:active {
	position:relative;
	top:1px;
}

.myButtonMarron {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	background-color:#7d5d3b;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:0.75rem;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButtonMarron:hover {
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	background-color:#634b30;
}
.myButtonMarron:active {
	position:relative;
	top:1px;
}

/*PERFIL*/
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
	}
	
.profile 
{
    min-height: 355px;
    display: inline-block;
    }


	body {
		background-color: #f9f9fa
	}
	
	.padding {
		padding: 3rem !important
	}
	
	.user-card-full {
		overflow: hidden
	}
	
	.card {
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
		box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
		border: none;
		margin-bottom: 30px
	}
	
	.m-r-0 {
		margin-right: 0px
	}
	
	.m-l-0 {
		margin-left: 0px
	}
	
	.user-card-full .user-profile {
		border-radius: 5px 0 0 5px
	}
	
	.bg-c-lite-green {
		background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
		background: linear-gradient(to right, #ee5a6f, #f29263)
	}
	
	.user-profile {
		padding: 20px 0
	}
	
	.card-block {
		padding: 1.25rem
	}
	
	.m-b-25 {
		margin-bottom: 25px
	}
	
	.img-radius {
		border-radius: 5px
	}
	
	h6 {
		font-size: 14px
	}
	
	.card .card-block p {
		line-height: 25px
	}
	
	@media only screen and (min-width: 1400px) {
		p {
			font-size: 14px
		}
	}
	
	.card-block {
		padding: 1.25rem
	}
	
	.b-b-default {
		border-bottom: 1px solid #e0e0e0
	}
	
	.m-b-20 {
		margin-bottom: 20px
	}
	
	.p-b-5 {
		padding-bottom: 5px !important
	}
	
	.card .card-block p {
		line-height: 25px
	}
	
	.m-b-10 {
		margin-bottom: 10px
	}
	
	.text-muted {
		color: #919aa3 !important
	}
	
	.b-b-default {
		border-bottom: 1px solid #e0e0e0
	}
	
	.f-w-600 {
		font-weight: 600
	}
	
	.m-b-20 {
		margin-bottom: 20px
	}
	
	.m-t-40 {
		margin-top: 20px
	}
	
	.p-b-5 {
		padding-bottom: 5px !important
	}
	
	.m-b-10 {
		margin-bottom: 10px
	}
	
	.m-t-40 {
		margin-top: 20px
	}
	
	.user-card-full .social-link li {
		display: inline-block
	}
	
	.user-card-full .social-link li a {
		font-size: 20px;
		margin: 0 10px 0 0;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out
	}
/* Animation */

/* @keyframes animatedBackground {
	from { background-position: 0 50%; }
	to { background-position: 0 0; }
} */
.rowProfile{
	display: flex;
	justify-content:center;
}


/****************RESET PASSWORD VIEW**************************/

.descriptionReset{
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 400;


}
.aux-buttons{
	display: flex;
	justify-content: space-between;
	background-color:#f1f1f1;
}

/****************NEW DIET**************************/
.card-day-title{
	display: flex;
	justify-content: center;
}
.day-title{
	font-size: 22px;
	font-weight: 700;
}
.food-title{
	font-size: 18px;
	font-weight: 400;
}



/****************PERFIL DIETICIAN**************************/
